.bar {
 fill: steelblue;
}
.bar:hover {
 fill: brown;
}

.bar {
    fill: teal;
    transition: all 150ms ease;
  }

  .padding-5 {
    padding: 5px;
}

.zeropadding {
    padding: 0px !important;
}
  