<div class="row" style="font-size: small;">
    <div style="width: 25px">

    </div>
    <div *ngFor="let sel of filters">
        <mat-form-field [style.width]="sel.width" style="margin-right: 15px;">
            <mat-select placeholder="{{sel.name}}" [formControl]="sel.fc" multiple>
                <mat-select-trigger>
                    {{getBaseNameForSelection(sel)}}
                    <span *ngIf="sel.fc.value?.length > 1" class="example-additional-selection">
                        (+{{sel.fc.value.length - 1}})
                    </span>
                </mat-select-trigger>
                
                    <button mat-button color="primary" (click)="selectAll(sel)">Select All</button>
                    <button mat-button color="warn" (click)="deselectAll(sel)">Clear All</button>
                
                <mat-option *ngFor="let op of sel.options" [value]="op.value">{{op.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3" style="text-align: center; vertical-align: middle;">
        
        <button  mat-stroked-button color="primary" (click)="applyFilters()" >Apply</button> &nbsp;
        <button  mat-stroked-button color="warn" (click)="clearFilters()">Reset</button>
    </div>
</div>