.bar {
 fill: steelblue;
}
.bar:hover {
 fill: brown;
}
.axis-title {
 fill: none;
 stroke: black;
 stroke-width: 0.5px;
}

.padding-5 {
    padding: 5px;
}

.zeropadding {
    padding: 0px !important;
}