.wrapper {
    background-size: cover !important;
    background-image: url('../../../../assets/images/cric2.jpeg');
    height: 100%;
}

.content {
    opacity: 1;
}

.card {
    margin: 2px;
}

.zeropadding {
    padding: 0px !important;
}