
<div class="wrapper">
    <div id="body" class="active">
        <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li style="color:white"> CricViz
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content" style="padding: 10px 10px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-12 zeropadding">
                        <div class="card">
                            <div class="content">
                                <app-control-bar></app-control-bar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 zeropadding">
                        <div class="card">
                            <div class="content" style="height: 44vh">
                                <app-parallel-coord></app-parallel-coord>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 zeropadding">
                        <div class="card">
                            <div class="content" style="height: 35vh">
                                <bar-chart></bar-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 zeropadding">
                        <div class="card">
                            <div class="content" style="height: 35vh;">
                                <bar-chart></bar-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 zeropadding">
                        <div class="card">
                            <div class="content" style="height: 35vh;">
                                <bar-chart></bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>