.wrapper {
    background-size: cover !important;
    background-image: url('../../../../assets/images/cric.jpg');
    height: 100%;
}

.content {
    opacity: 0.9;
}

.card {
    margin: 2px;
}

.zeropadding {
    padding: 0px !important;
}