<div class="wrapper">
    <div id="body" class="active">
        <nav class="navbar navbar-expand-lg navbar-primary" style="color: blue">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li style="color:white"> CricViz
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content" style="padding: 10px 10px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3 zeropadding">
                        <div class="card">
                            <div class="content" style="padding-top: 5px;">
                                <app-player-dropdown></app-player-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-9 zeropadding">
                        <div class="card" *ngIf="isFilterEnabled">
                            <div class="content" style="padding-top: 5px;">
                                <app-filters></app-filters>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 zeropadding">
                        <div class="card">
                            <div class="content" style="height: 41vh">
                                <app-radar-chart></app-radar-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 d-none d-md-block zeropadding">
                        <div class="card">
                            <div class="content" style="height: 41vh">
                                <app-parallel-coord></app-parallel-coord>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-3 zeropadding">
                        <div class="card">
                            <div class="content" style="height: 41vh">
                                <app-combined-chart></app-combined-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 zeropadding">
                        <div class="card">
                            <div class="content" style="height: 41vh;">
                                <app-timeline-chart></app-timeline-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 zeropadding">
                        <div class="card">
                            <div class="content" style="height: 41vh;">
                                <app-scatter-chart></app-scatter-chart>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>